*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins;

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 2px lightgray;
    border-radius: 15px;
    padding: 50px;
}
h2.google{
    font-weight: 650;
}
h1.create{
    font-size: 25px;
    font-weight: 500;
    padding-top: 7px;
}
h2.to{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 22px;
}
p.you{
    font-size: 10px;
    color: gray;
}
button.sign{
    padding: 7px 20px 7px 0px;
    color: #1a60d1;
    font-weight: 700;
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
button.next{
    margin-left: 100px;
    padding: 7px 20px 7px 20px;
    color: #fff;
    font-weight: 700;
    background-color: #1b66ca;
    border: none;
    border-radius: 5px;
}
button.sign:hover{
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}
button.next:hover{
    background-color: rgb(27, 27, 175);
    cursor: pointer;
}
